<div>
    <h3>City-Search for Businesses</h3>

    <!-- Find business records based on location_city -->
    Find businesses based on location city
    <form name="searchByLocationCity" ng-submit="getBusinessesByCity(location_city)">
        <input type="search" required="" placeholder="Ex: Cupertino or Boston" ng-model="location_city" />
        <input type="submit" value="Search" />
    </form>


    <!-- Print the error if there is one -->
    {{error}}

    <!-- Businesses from the requested city -->
    <div ng-show="queryData">
        <h2>Business Results</h2>
        <table>
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Business Location</th>
                    <th>Business Start Date</th>
                    <th>Business End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in queryData">
                    <td>{{entry.dba_name}}</td>
                    <td>{{entry.location_city | capitalize}} <span ng-show="entry.location_city">, </span>{{entry.location_state | uppercase}}</td>
                    <td>{{entry.dba_start_date | date : longDate}}</td>
                    <td>{{entry.dba_end_date | date : longDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
